<!DOCTYPE html>
<html>
  <head>
    <title>Trello</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> <!-- make sure to add the second rb end here --> 
    <%# <%= javascript_include_tag :application %> <!-- and the second ending here too. -->
  </head>



  <body>
    <br/>
    <button><%= link_to "Log Out", destroy_user_session_path, method: :delete %></button>
    <button><%= link_to "Boards", boards_path %></button>
    <button><%= link_to "Make a new board", new_board_path %></button>
    <%= yield %>
  </body>
</html>

 <style>
  body {
    text-align: center;
    background-color: seashell;
  }

  h1 {
    color: darkslategray;
  }

  button {
    border-radius: 12px;
    border: none;
    background-color: seashell;
    font-size: 18px;
  }

  button:hover {
    border-radius: 8px;
    border: none;
    background-color: blanchedalmond;
    font-size: 18px;
    opacity: 1;
  }

  .tasks {
    color: darkolivegreen;
    font-size: 2.3em;
  }

  h3 {
    color: cadetblue;
  }

  .back_button:hover {
    border-radius: 8px;
    border: none;
    color: seashell;
    background-color: lightpink;
    font-size: 18px;
    opacity: 1;
  }


  .field {
    width: 400px;
    margin-left: 36.5%;
  }
</style>