<!DOCTYPE html>
<html>
  <head>
    <title>Trello</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> <!-- make sure to add the second rb end here --> 
    <%# <%= javascript_include_tag :application %> <!-- and the second ending here too. -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
